html {
    height: 99dvh;
    width: 99.6dvw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(circle at 50% -30%, #2e2e2e 0%, black 70%);
    width: 100%;
    height: 100%;
    color: white;
}

#root {
    height: 100%;
    width: 100%;
}
