.bigBox {
    width: 100%;
    height: 100%;
    /* border: solid white 1px; */
    display: flex;
    flex-direction: column;
}
.mainContent {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    align-items: center;
    /* border: solid white 1px; */
}
.mainContent .top {
    /* border: solid white 1px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent .top .addBar input {
    background-color: rgb(45, 45, 45);
    border: none;
    padding: 0.5rem;
    margin: 0rem 1rem;
}
button {
    all: unset;
    background-color: rgb(160, 249, 211);
    color: black;
    border: none;
    border-radius: 0.4rem;
    margin: 0;
    padding: 0.5rem;
}
button:active {
    opacity: 0.5;
}
button:hover {
    cursor: pointer;
}
.mainContent .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.mainContent .middle .displayCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
}
.mainContent .bottom {
    border: solid white 1px;
    height: 100%;
}
