/* Full Page Centering */
.loginPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Container */
.loginContainer {
    background: #171717;
    padding: 2.5rem;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease;
}

/* Inputs */
.loginContainer input {
    width: 90%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.2s ease;
    font-size: 16px;
}


/* Button */
.loginContainer button {
    width: 90%;
    padding: 12px;
    background: #0c8e44;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.25s ease;
}

.loginContainer button:hover {
    background: #0c8e44;
}

/* Register link */
.loginContainer p {
    text-decoration: none;
    color: #28772d;
    font-weight: bold;
    margin-top: 5px;
}

.loginContainer a {
    text-decoration: none;
    color: #35963b;
    font-weight: bold;
    margin-top: 5px;
}
.loginContainer a:hover {
    text-decoration: underline;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .loginContainer {
        width: 85%;
        padding: 1.8rem;
    }
}
