/* Full Page Centering */
.registerPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Register Container */
.registerContainer {
    background: #171717;
    padding: 2.5rem;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease;
}

/* Inputs */
.registerContainer input {
    width: 90%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.2s ease;
    font-size: 16px;
}

/* Button */
.registerContainer button {
    width: 90%;
    padding: 12px;
    background: #0c8e44;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.25s ease;
}

.registerContainer button:hover {
    background: #247747;
}

/* Login link */
.registerContainer p{
    text-decoration: none;
    color: #28772d;
    font-weight: bold;
}

.registerContainer a{
    text-decoration: none;
    color: #379f3e;
    font-weight: bold;
}

.registerContainer a:hover {
    text-decoration: underline;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .registerContainer {
        width: 85%;
        padding: 1.8rem;
    }
}
